@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #344e41;
  --color-dark: #edf2ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  color: #495057;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 50px 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  font-size: 40px;
  width: 100%;
  background-color: #344e41;
  color: #edf2ef;
  font-family: "Yeseva One";
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0 10px 0;
}

.button {
  background-color: var(--color-medium);
  color: #edf2ef;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #588157;
}
.sidebar {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}

form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2rem;
  background-color: #3a5a40;
  border-radius: 7px;
  color: #edf2ef;
}
form input {
  color: #495057;
}

.form-add-friend {
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}
.form-split-bill {
  padding: 3.2rem 4rem;
  height: 100%;
}

label {
  font-weight: 500;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
}

form h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
